/* COMPONENTS
============================== */
.btn {
    box-shadow: var(--btn-shadow, var(--drop-shadow));
    border-radius: var(--btn-border-radius, 24px);
    background-color: var(--btn-bg-color, var(--gold-yellow));
    color: var(--btn-color, var(--dark-blue));
    font-weight: var(--btn-font-weight, var(--fw-bold));
    font-size: var(--button-font-size);
    text-transform: var(--btn-transform-text, uppercase);
    width: var(--btn-width, var(--button-width));
    padding: 0.375rem 0.75rem;
    letter-spacing: -0.02em;

    &.btn-white {
        --btn-bg-color: transparent;
        --btn-color: var(--white);
        --btn-shadow: none;
        border: 1px solid var(--white);
    }

    &.btn-blue {
        --btn-bg-color: var(--dark-blue);
        --btn-color: var(--white);
        --btn-border-radius: 0.25rem;
        --btn-shadow: none;
        --btn-transform-text: none;
        --btn-width: 12.5rem;
        font-size: 1rem;
        line-height: 2.625rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    &.btn-yellow {
        --btn-width: 12.5rem;
        --btn-border-radius: 0.25rem;
        --btn-shadow: none;
        --btn-transform-text: none;
        font-size: 1rem;
        line-height: 2.625rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    &.btn-yellow-outlined {
        border: 2px solid var(--white);
        --btn-width: 20.125rem;
        text-transform: unset;
        color: var(--white);
    }

    &.btn-yellow-plain {
        --btn-width: 20.125rem;
        text-transform: unset;
        color: var(--white);
        box-shadow: none;
    }
}
