form {
    input[type="checkbox"] {
        accent-color: var(--bs-primary);
        border-color: var(--bs-primary);
        border-radius: 0;

        &:checked {
            background-color: var(--bs-primary);
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
        }
    }
}
