/* GRID PANELS COMPONENTs
====================================*/
%grid-component {
    display: flex;
    place-items: center;
    gap: 1.875rem;
}

.grid-box {
    @extend %grid-component;
    grid-template-columns: repeat(auto-fit, minmax(min-content, 385px));
    margin: 2rem 0;
}

.grid-box-4 {
    @extend %grid-component;
    grid-template-columns: repeat(auto-fill, minmax(min-content, 420px));
    padding-top: 1.5rem;
}
