@mixin card-reset {
    &.card {
        border: none;
    }
    .card-header,
    .card-body,
    .card-footer {
        border: none;
        background-color: unset;
        border-radius: 0;
    }
    .card-header {
        text-align: center;
        border: none;
        padding-bottom: 0;
    }
    .card-body {
        padding: 0;
    }
}

@mixin form-reset {
    @include card-reset;
    form {
        label {
            color: var(--dark-blue);
            font-weight: var(--fw-bold);
            margin-bottom: 0.5rem;
        }

        input,
        .form-control {
            border: 1px solid var(--gold-yellow);
            border-radius: 0.25rem;
            margin-bottom: 0.52rem;
        }

        input:focus {
            outline: none;
        }

        textarea {
            resize: none;
        }
    }
}

@mixin panel-component {
    @include card-reset;
    .panel {
        display: block;
        padding: 25px;
        color: var(--white);
        border: none;
        border-radius: 0;
        text-align: center;

        img {
            margin-bottom: 0.75rem;
        }

        .heading-3 {
            margin-bottom: 1.0625rem;
        }

        .list-benefits {
            padding: 0;
            margin-bottom: 1.875rem;
            text-align: start;
            padding-left: 20px;
            padding-right: 20px;
            .checked {
                display: flex;
                align-items: center;
                font-weight: var(--fw-normal);
            }
        }

        .btn {
            display: none;
        }
    }

    @media screen and (min-width: 768px) {
        .panel {
            .list-benefits {
                .checked {
                    align-items: center;
                }
            }

            .btn {
                display: block;
                font-size: 18px;
                margin: auto;
                &.btn-white:hover {
                    background-color: var(--white);
                }
            }
        }
    }
    @media screen and (min-width: 992px) {
        .panel {
            .btn {
                font-size: 1.25rem;
                width: 250px;
            }
        }
    }
    @media screen and (min-width: 1200px) {
        .panel {
            .btn {
                width: var(--button-width);
            }
        }
    }
}

@mixin news-component {
    .news-panel {
        @include card-reset;
        background-color: var(--off-white);
        color: inherit;
        border-radius: 0.375rem;
        box-shadow: var(--news-box-shadow);
        .card-header {
            width: auto;
            // height: 270px;
            max-width: 100%;
            object-fit: cover;
            border-top-right-radius: 0.375rem;
            border-top-left-radius: 0.375rem;
            overflow: hidden;
            padding: 0;
            background: unset;
        }
        .card-body {
            padding: 1rem 1rem;
            .news-title {
                text-align: start;
                margin-bottom: 1rem;
            }
            .news-date,
            .news-text {
                color: var(--bs-dark);
            }
            .news-text {
                margin-top: 1rem;
            }
        }
    }
}
