[js-slider-wrapper] {

    [js-slider-container] {
        overflow: hidden;
        display: flex;
        white-space: nowrap;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            width: 25px;
            height: 100%;
            background: linear-gradient(to left, transparent 1%, white 90%);
            z-index: 99;
        }

        &::after {
            content: "";
            position: absolute;
            width: 25px;
            height: 100%;
            background: linear-gradient(to right, transparent 1%, white 90%);
            z-index: 99;
            right: 0;
        }

        &:hover {
            [js-slider-list] {
                animation-play-state: paused;
            }
        }
    }

    [js-slider-list] {
        display: flex;
        animation: 35s logoSlide infinite linear;

        & > * {
            max-width: 9.6875rem;
            margin-inline: 2rem;
        }
    }
}


@keyframes logoSlide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}
