/*=====================================
MODULE - TESTIMONIALS
=====================================*/
.testimonial {
    display: grid;
    justify-items: center;

    .img-circle {
        width: 148px;

        img {
            aspect-ratio: 1;
            object-fit: cover;
        }
    }

    .rating {
        margin-block: 2rem;
    }

    blockquote {
        font-family: $font-family-merriweather;
        font-style: italic;
        font-size: 1rem;
        line-height: 30px;
        text-align: center;

        @include device(small) {
            font-size: 1.125rem;
        }
    }

    .name {
        font-size: 1.125rem;
        font-weight: $font-weight-semi-bold;
        color: $gray;
    }
}
