/* HEADER + NAVIGATION
============================== */
/* Hamburger Menu Icon 
------------------------------ */
#hamburgerBtn {
	position: relative;
	padding: 10px;
	width: 50px;
	height: 50px;
	border: none;
	background-color: unset;
	z-index: 1000;
	align-items: flex-start;
}

#hamburgerBtn span {
	display: flex;
	align-items: center;
	position: absolute;
	background-color: white;
	transition: 0.3s;
}

#hamburgerBtn span,
#hamburgerBtn span::before,
#hamburgerBtn span::after {
	width: 36px;
	height: 3px;
}

#hamburgerBtn span::before,
#hamburgerBtn span::after {
	content: "";
	position: absolute;
	background-color: white;
	transition: 0.3s;
}

#hamburgerBtn span::before {
	top: 10px;
}

#hamburgerBtn span::after {
	top: -10px;
}

#hamburgerBtn.closeMenu span::before,
#hamburgerBtn.closeMenu span::after {
	top: 0;
}

#hamburgerBtn.closeMenu span {
	background-color: transparent;
}

#hamburgerBtn.closeMenu span::before {
	transform: rotate(45deg);
}

#hamburgerBtn.closeMenu span::after {
	transform: rotate(-45deg);
}

/* MEDIA QUERIES - HEADER
============================== */
@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}