:root {
	// Colors
	--white: #ffffff;
	--black: #000000;

	// Font Family
	--ff-family: ;

	// Font weight
	--fw-light: 300;
	--fw-normal: 400;
	--fw-medium: 500;
	--fw-bold: 700;

	// Font sizes
	--fs-normal: 1rem;
	--fs-nav: 1rem;
	--fs-heading-1: ;
	--fs-heading-2: ;
	--fs-heading-3: ;
	--fs-panel-title: ;
	--fs-hero-text: ;

	// Border-radius
	--form-border-radius: ;
	--news-border-radius: ;

	// Shadows
	--drop-shadow: ;

	// Height
	--header-height: ;
	--hero-height: ;

	// Link as buttons
	--button-width: ;
	--button-line-height: ;
	--button-font-size: ;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	scroll-behavior: smooth;
}

html:focus-within {
	scroll-behavior: smooth;
}

/* Remove all animations, transitions and smooth scroll for those who prefer not to see them */
@media(prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

body {
	height: 100%;
	font-family: var(--ff-family);
	font-size: var(--fs-normal);
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeSpeed;
	color: var(--body-font-color);
	overflow-x: hidden;
	line-height: 1.5;
}

input[type="text"],
input[type="submit"],
input[type="email"],
input[type="number"],
input[type="password"],
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

ul[class=list],
ol[class=list] {
	list-style: none;
}

a[href^="tel"] {
	text-decoration: underline;
	font-weight: var(--fw-bold);
}

/* Elements without a class get default styles */
a:not([class]) {
	text-decoration-skip-ink: auto;
}

a {
	text-decoration: none;
	color: var(--dark-blue);
	transition: 0.2s ease-in-out;
}

p>a {
	text-decoration: underline;
	font-weight: var(--fw-bold);
}

hr:not([size]) {
	height: 0.125rem;
	width: 200px;
	margin: 1.5rem auto 2rem;
}

img,
picture,
video,
canvas,
svg {
	max-width: 100%;
	display: block;
	// height: auto;
}

.eProtection {
	unicode-bidi: bidi-override;
	direction: rtl;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/* TYPOGRAPHY  
=====================================*/
.heading-1 {
	font-size: var(--fs-heading-1);
	font-weight: var(--fw-bold);
	letter-spacing: -0.02rem;
	text-shadow: var(--heading-text-shadow);
}

.heading-2 {
	font-size: var(--fs-heading-2);
	font-weight: var(--fw-bold);
	letter-spacing: -0.02rem;
	margin-bottom: 1.5rem;
}

.heading-3 {
	font-size: var(--fs-heading-3);
	font-weight: var(--fw-bold);
	margin-bottom: 1rem;
}

/* GRID PANELS
====================================*/
.grid-box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(min-content, 385px));
	place-content: center;
	gap: 1.875rem;
	margin: 2rem 0;
}

.grid-box-4 {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(min-content, 420px));
	place-content: center;
	padding-top: 1.5rem;
	gap: 1.875rem;
}

/* ROOT MEDIA QUERIES
====================================*/
@media screen and (min-width: 768px) {
	:root {
		// Height
		--header-height: 113px;
		--hero-height: 32.5rem;
		--service-hero-height: 38.75rem;
	}
}



@media screen and (min-width: 992px) {
	:root {
		// Font sizes
		--fs-nav: ;
		--fs-heading-1: ;
		--fs-heading-2: ;
		--fs-heading-3: ;

		// Link as buttons
		--button-width: ;
		--button-line-height: ;
		--button-font-size: ;
	}

	.container {
		max-width: 1240px;
	}

	.paragraph {
		width: 61.8rem;
		margin: auto;
		line-height: 30px;

		p {
			&:first-child {
				margin-top: 2rem;
			}

			margin: 0 auto 2rem;
			line-height: 30px;

			&:last-child {
				margin-bottom: 0;
			}
		}

	}

	.grid-box {
		.grid-item {
			margin: .625rem 0;
		}
	}
}