// RESPONSIVE BREAKPOINTS
$breakpoints: (
    'x-small': (min-width: 24.375rem),
    'small': (min-width: 26.5625rem),
    'medium': (min-width: 48rem),
    'large': (min-width: 64rem),
    'x-large': (min-width: 80rem),
    'xx-large': (min-width: 90rem),
    '4k': (min-width: 160rem),
);

@mixin device($breakpoint) {
    $query: map-get($breakpoints, $breakpoint);

    $query-args: if(type-of($query)=='string',
            unquote($query),
            inspect($query));

    @if $query-args {

        @media #{$query-args} {
            @content;
        }
    }

    @else {
        @error 'No value found for `#{$breakpoint}`. '
        + 'Please make sure it is defined in `$breakpoints` map at `abstract/mixins` folder.';
    }
}


// Define a mixin to apply custom styles for a specific device size
@mixin device-custom($size, $breakpoint) {

    // Use a media query to apply the styles only when the device size matches the specified breakpoint
    @media ($size: $breakpoint) {
        // Execute the content of the mixin, which contains the custom styles to be applied
        @content;
    }
}
