// COLORS
$primary: #7c4d8d;
$secondary: #412b41;
// $accent: #AFA064;
$accent: #978a55;
$gray: #707070;
$dark-gray: #444444;
$mid-gray: #d3d3d3;
$light-gray: #c9c9c9;
$lighter-gray: #f5f5f5;
$white: #ffffff;
$black: #000000;
$stroke: #7c4d8d;

// $image-content-bg: #FAFAFA;
// $image-content-bg: #F5F5F5;

$light-gray-gradient: linear-gradient(#ededed 0%, #e5e5e5 100%);
$primary-gradient: linear-gradient(#9571a2 0%, #7c4e8c 100%);

$social-colors: (
    "facebook": hsl(214, 89%, 52%),
    "instagram": hsl(276, 51%, 47%),
    "youtube": hsl(0, 100%, 50%),
    "linkedin": hsl(210, 90%, 40%)
);

$main-colors: (
    "primary": $primary,
    "secondary": $secondary,
    "accent": $accent
);


// FONT-WEIGHTS
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
$font-weight-extra-bold: 800;

// FONT FAMILY
$font-family-inter: "Inter Tight", sans-serif;
$font-family-merriweather: "Merriweather", serif;
$font-size: 1.125rem;
$font-style: normal;

// Transition
// $transition-timing-function: cubic-bezier(0.14, 0.97, 0.59, 1);
$transition-timing-function: ease-in-out;
$transition-short: 150ms $transition-timing-function;
$transition-medium: 250ms $transition-timing-function;
$transition-long: 500ms $transition-timing-function;

// Shadow
$box-shadow: 0 5px 10px -3px rgba(0, 0, 0, 0.25);
$box-shadow-2: 0px 0px 24px rgba(0, 0, 0, 0.2);
$box-shadow-3: 0px 3px 12px rgba(0, 0, 0, 0.16);
$box-shadow-4: 0px 10px 30px rgba(0, 0, 0, 0.1);

// BORDER RTADIUS
$border-radius: 10px;
