/*=====================================
LAYOUT - GRID
=====================================*/
.grid {
    display: grid;
}

.container {
    padding-inline: 1rem;
    width: 100%;
    margin-inline: auto;

    @include device(x-small) {
        padding-inline: 1.125rem;
    }

    // @include device(small) {
    //     max-width: 26.5625rem;
    // }

    @include device(medium) {
        max-width: 48rem
    }

    @include device(large) {
        max-width: 64rem
    }

    @include device(x-large) {
        max-width: 80rem
    }

    @include device(xx-large) {
        max-width: 82.5rem;
        padding-inline: 0;
    }

}
